<%= form_with(model: @newTask, local: true) do |f| %>
<% if @newTask.errors.any? %>
  <div id="error_explanation">
    <h3><%= @newTask.errors.count %>件のエラーがあります。</h3>
    <ul>
      <% @newTask.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_area :content %>
</div>
<div>
  <% if @task.nil? %>
    <% tmp = 1 %>
    <% parentId = 1 %>
  <% else %>
    <% tmp = @task.level.to_i + 1 %>
    <% parentId = @task.id %>
  <% end %>
  <%= fields_for(@relational) do |r| %>
    <%= r.hidden_field :parent_id, value: parentId %>
  <% end %>
  <%= f.hidden_field :level, value: tmp %>
  <%= f.submit "タスク作成" %>
<% end %>
</div>
