<%= form_with(model: @newTask, local: true) do |f| %>
<table>
  <tr>
    <td><%= f.label :title %></td>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <td><%= f.label :content %></td>
    <td><%= f.text_field :content %></td>
  </tr>
</table>
<div>
</div>
<% if @task.nil? %>
  <% tmp = 1 %>
  <% parentId = 1 %>
<% else %>
  <% tmp = @task.level.to_i + 1 %>
  <% parentId = @task.id %>
<% end %>
<%= fields_for(@relational) do |r| %>
  <%= r.hidden_field :parent_id, value: parentId %>
<% end %>
<%= f.hidden_field :level, value: tmp %>
<%= f.submit %>
<% end %>
