<%= form_with(model: @newTask, local: true) do |f| %>
<table>
  <tr>
    <td><%= f.label :user_id %></td>
    <td><%= f.text_field :user_id %></td>
  </tr>
  <tr>
    <td><%= f.label :title %></td>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <td><%= f.label :content %></td>
    <td><%= f.text_field :content %></td>
  </tr>
</table>
<%= f.submit %>
<% end %>
