<div>
  <% if @task != nil %>
    <p>Task_position:
      <% @task.clans_to_me.each do |id| %>
        <%= Task.find(id).title + " > " %>
      <% end %>
    </p>
  <% else %>
    <p>Task_position: root</p>
  <% end %>
  <% @tasks.each do |task| %>
    <div>
      <p>Task_id:<%= task.id %></p>
      <p>Task_level:<%= task.level %></p>
      <p>Task_title:<%= task.title %></p>
      <p>Task_content:<%= task.content %></p>
      <div>
        <%= link_to 'Show', task %>
        <%= link_to 'New', new_task_path(task) %>
        <%= link_to 'Edit', edit_task_path(task) %>
        <%= link_to 'Destroy', task, method: :delete, data:{confirm:'Are you sure?'} %>
      </div>
    </div>
  <% end %>
</div>
