<h1><%= @task.title %>の子要素一覧</h1>
<%= link_to 'TOP', tasks_path %>
<% if @task.level == 1 %>
  <%= link_to '上へ', tasks_path %>
<% else %>
  <% parentTask = @task.parent_task.ids.first %>
  <%= link_to '上へ', :controller=>"tasks", :action=>"show", :id=>parentTask %>
<% end %>
<%= link_to 'この階層に新規タスク作成', new_task_path(@task) %>
<%= render 'list' %>
