<!DOCTYPE html>
<html>
<head>
  <title>ScriptYourself</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header>
    <ul>
      <% if user_signed_in? %>
      <li><strong><%= link_to current_user.email, edit_user_registration_path %></strong></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
      <li><%= link_to 'サインアップ', new_user_registration_path %></li>
      <li><%= link_to 'ログイン', new_user_session_path %></li>
      <% end %>
    </ul>
  </header>
  <div class = "wrapper row">
    <aside class="side_menu col-xs-2">
      <nav>
        <ul>
          <li><%= link_to 'タスク確認', tasks_descendant_path %></li>
          <li><%= link_to '新規作成', new_task_path %></li>
          <li><%= link_to 'タスクツリー確認', tasks_path %></li>
        </ul>
      </nav>
    </aside>
    <article class="container col-xs-10">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </article>
  </div>
</body>
<footer class="footer">
  <p>hogehoge</p>
  <p>© 2018 Copyright oreore</p>
</footer>
</html>
